<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New Apartment</title>
</head>
<body>
	<form method="post" action="/apartments">
		<input type="number" required name="rent" placeholder="Rent">
		<br>
		<input type="number" required name="numberOfBedrooms" placeholder="Number of bedrooms">
		<br>
		<input type="number" required name="numberOfBathrooms" placeholder="Number of bathrooms">
		<br>
		<input type="number" required name="squareFootage" placeholder="Square footage">
		<br>
		<input type="text" required name="address" placeholder="Street address">
		<br>
		<input type="text" required name="city" placeholder="City">
		<br>
		<input type="text" required name="state" placeholder="State">
		<br>
		<input type="text" required name="zipCode" placeholder="Zip code">
		<br>
		<button>Create</button>
	</form>
</body>
</html>