<h1>Your listings, bitch!</h1>

<h2>Active Apartments</h2>
<div *ngFor="let apartment of apartments">
  <a (click)="selectApartment(apartment)" *ngIf="apartment.is_active">{{ apartment.address }}</a>
</div>

<br>

<h2>Inactive Apartments</h2>

<div *ngFor="let apartment of apartments">
  <a (click)="selectApartment(apartment)" *ngIf="!apartment.is_active">{{ apartment.address }}</a>
</div>

<br>

<button *ngIf="selectedApartment" (click)="hideDetails()">Hide</button>

<app-apartment-detail *ngIf="selectedApartment" [apartment]="selectedApartment"></app-apartment-detail>


