<h2>Address:</h2>
<div>{{apartment.address}}</div>
<div> {{ apartment.city }}, {{ apartment.state }} {{ apartment.zip_code }}</div>

<h3>Apartment Details:</h3>
<p><b>Active status: </b>{{ apartment.is_active }}</p>
<ul>
  <li><b>Rent: </b>{{ apartment.rent | currency}}</li>
  <li><b>Bedrooms: </b>{{ apartment.number_of_bedrooms }}</li>
  <li><b>Bathrooms: </b>{{ apartment.number_of_bathrooms }}</li>
  <li><b>Square footage: </b>{{ apartment.square_footage }}</li>
</ul>

<form (submit)="activateApartment()">
  <button *ngIf="!apartment.is_active && userIsOwner">Activate</button>
</form>

<form (submit)="deactivateApartment()">
  <button *ngIf="apartment.is_active && userIsOwner">Deactivate</button>
</form>

<form (submit)="likeApartment() && !userIsOwner">
  <button>Like</button>
</form>
